body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
}

.list-movies-title {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: #17a2b8;
  border: 1px solid #17a2b8;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.2);
  font-size: 16pt;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 15px;
  list-style: none;
}

.movie-grid li {
  border: 1px solid #17a2b8;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie {
  text-align: center;
  position: relative;
}

.movie-poster {
  max-width: 100%;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.imdb {
  font-size: 0.7em;
  background-color: rgb(245, 197, 24);
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1; /* Ensure it's above the image */
}


.movie-title,
.movie-year {
  margin: 5px 0;
  font-size: 0.8em;
}

.buttons-top,
.buttons-bottom {
  display: flex;
  justify-content: center;
}

.button-8 {
  flex-grow: 1;
  padding: 8px;
  margin: 5px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button-8:hover {
  opacity: 0.8;
}

form[action*='edit_movie'] .button-8 {
  background-color: #DEB522;
  color: white;
}

form[action*='delete_movie'] .button-8 {
  background-color: #f44336;
  color: white;
}

.buttons-bottom form:nth-child(1) .button-8 {
  background-color: #28a745;
  color: white;
}

.buttons-bottom form:nth-child(2) .button-8 {
  background-color: #17a2b8;
  color: white;
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: rgba(23, 162, 184, 0.5);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: rgba(23, 162, 184);
}


.review-button .button-8 {
  background-color: #17a2b8;
  color: white;
}
