body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
}

.list-movies-title {
  padding: 10px 0;
  color: #17a2b8;
  border: 1px solid #17a2b8;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 16pt;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-grid li {
  padding: 10px 15px;
  text-align: left;
}

.movie {
  width: 140px;
  position: relative;
}

.movie-title,
.movie-year {
  font-size: 0.8em;
  text-align: center;
}

.movie-title {
  margin-top: 10px;
}

.movie-year {
  color: #999;
}

.movie-poster {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 128px;
  height: 193px;
}

.imdb {
  font-size: 0.5em;
  background-color: rgb(245, 197, 24); /* semi-transparent black background */
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.country_flag{
    position: absolute;
    top: 18px;
    left: 0;
}
.imdb em{
 font-weight: bold
}